@media screen and (max-width: 600px) {
    /*eventos*/
    .eventos iframe {
        display: none;
    }

    .eventos_proximos img {
        height: 300px;
        object-fit: contain;
    }

    /*recursos*/
    
    .multimedia img {
        height:100%;
        object-fit: contain;
    }
}